<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
  <div th:replace="commons/menu :: menu" />



  <div class="container">
    
        <h1 th:text="#{pedidos.list.titulo}">Pedidos</h1>
        <a class="btn btn-primary" th:text="#{pedidos.list.nuevoPedido}" th:href="@{/pedidos/create}" href="new.html"
        role="button">
        Crear</a>

    <table class="table table-striped align-middle text-center">
      <thead>
        <tr>
          <th scope="col" th:text="#{pedidos.list.imagen}">Imagen</th>  
          <th scope="col" th:text="#{pedidos.list.codigo}">Codigo</th>
          <th scope="col" th:text="#{pedidos.list.nombre}">Nombre</th>
          <th scope="col" th:text="#{pedidos.list.descripcion}">Descripcion</th>
          <th scope="col" th:text="#{pedidos.list.precio}">Precio</th>  
          <th scope="col">---</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pedido : ${pedidos}">
          <td> <img th:src="'data:image/jpeg;base64,' + ${pedido.imageView}" width="325em" src="" alt=""> </td>
          <th scope="row" th:text="${pedido.codigo}">#</th>
          <td th:text="${pedido.nombre}">---</td>
          <td th:text="${pedido.descripcion}">---</td>
          <td th:text="${pedido.precio}+€">---</td>  
          <td>          
            <a class="btn btn-primary" th:text="#{pedidos.list.editar}" th:href="@{/pedidos/edit?codigo=}+${pedido.codigo}" href="edit.html"
              role="button">
              Editar</a>
            <a class="btn btn-primary" th:text="#{pedidos.list.borrar}" th:href="@{/pedidos/delete/}+${pedido.codigo}" href="#" role="button"><i class="bi bi-trash"></i>Borrar</a>
            <a class="btn btn-primary" th:href="@{/pedidos/cantidad?codigo=}+${pedido.codigo}" href="cantidad.html"
            role="button">
            Añadir a cesta</a>
          </td>
        </tr>    
      </tbody>
    </table>
    <div th:replace="commons/pagination :: pagination" class="container" />
    <h5 th:text="#{pedidos.list.pie}"></h5>
  </div>

  <div th:replace="commons/footer :: footer" class="container" />
</body>

</html>