<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="commons/header :: header"/>
<body>
  <div th:replace="commons/menu :: menu" />

      <div class="container">
        <form style="width: 18em;" th:action="@{/departamentos/update}" method="post">
          <input type="hidden" th:value="${departamento.codigo}" name="codigo">
          <div class="mb-3">
            <label for="exampleInput1" class="form-label">Departamento:</label>
            <input th:value="${departamento.nombre}" type="text" name="nombre" class="form-control" id="exampleInput1">
          </div>
        
          <table class="table table-striped">            
            <tbody>
              <tr th:each="empleado : ${empleados}">
                
                  <td>
                    <input name="check" type="checkbox" th:value="${empleado.codigo}" th:checked="${empleado.check}">
                  </td>
                  <td th:text="${empleado.nombre}">---</td>
                  <td th:text="${empleado.apellidos}">---</td>
                </tr>
              </tbody>
            </table> 
            <a class="btn btn-primary" th:href="@{/departamentos/list}" href="#" role="button">Cancelar</a>
            <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>        
        
      </div>
      

      <div th:replace="commons/footer :: footer" class="container" />
</body>
</html>