<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
  <div th:replace="commons/menu :: menu" />

  <!-- CARD -->

  <div class="container">
    <!-- <div class="row">
          <div th:each="cliente : ${clientes}" class="card" style="width: 18rem;">
            <img th:src="${cliente.urlImg}" src="../static/img/coca.jpg" height="300px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 th:text="${cliente.nombre}" class="card-title"></h5>
              <p th:text="${cliente.descripcion}" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a th:href="@{/clientes/edit?codigo=}+${cliente.codigo}" href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div> -->
        <h1 th:text="#{clientes.list.titulo}">Clientes</h1>
        <a class="btn btn-primary" th:text="#{clientes.list.nuevoCliente}" th:href="@{/clientes/create}" href="new.html"
        role="button">
        Crear</a>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" th:text="#{clientes.list.codigo}">Codigo</th>
          <th scope="col" th:text="#{clientes.list.nombre}">Nombre</th>
          <th scope="col" th:text="#{clientes.list.apellidos}">Apellidos</th>
          <th scope="col" th:text="#{clientes.list.email}">Email</th>
          <th scope="col" th:text="#{clientes.list.numero}">Numero</th>
          <th scope="col" th:text="#{clientes.list.direccion}">Direccion</th>
          <th scope="col" th:text="#{clientes.list.vip}">Vip</th>
          <th scope="col">---</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="cliente : ${clientes}">
          <th scope="row" th:text="${cliente.codigo}">#</th>
          <td th:text="${cliente.nombre}">---</td>
          <td th:text="${cliente.apellidos}">---</td>
          <td th:text="${cliente.email}">---</td>
          <td th:text="${cliente.numero}">---</td>
          <td th:text="${cliente.direccion}">---</td>
          <td th:text="${cliente.vip} ? 'SI' : 'NO'">---</td>
          <td>          
            <a class="btn btn-primary" th:text="#{clientes.list.editar}" th:href="@{/clientes/edit?codigo=}+${cliente.codigo}" href="edit.html"
              role="button">
              Editar</a>
            <a class="btn btn-primary" th:text="#{clientes.list.borrar}" th:href="@{/clientes/delete/}+${cliente.codigo}" href="#" role="button"><i class="bi bi-trash"></i>Borrar</a>
          </td>
        </tr>
        <!-- <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr> -->
      </tbody>
    </table>
    <div th:replace="commons/pagination :: pagination" class="container" />
    <h5 th:text="#{clientes.list.pie}"></h5>
  </div>

  <div th:replace="commons/footer :: footer" class="container" />
</body>

</html>