<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="commons/header :: header"/>
<body>
  <div th:replace="commons/menu :: menu" />

      <div class="container">
        <form style="width: 18em;" th:action="@{/notas/update}" method="post">
          <input type="hidden" th:value="${nota.id}" name="id">
          <div class="mb-3">
            <label for="exampleInput1" class="form-label">Titulo</label>
            <input th:value="${nota.titulo}" type="text" name="titulo" class="form-control" id="exampleInput1">
          </div>         
          <div class="mb-3">
            <label for="exampleInputDate1" class="form-label">Fecha</label>
            <input th:value="${nota.fecha}" type="date" class="form-control" name="fecha" id="exampleInputDate1">            
          </div>
          <div class="mb-3">
            <label for="exampleInput1" class="form-label">Descripcion</label>
            <input th:value="${nota.descripcion}" type="text" name="descripcion" class="form-control" id="exampleInput1">
          </div>                 
          <a class="btn btn-primary" th:href="@{/notas/list}" href="#" role="button">Cancelar</a>
          <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>
      </div>
      

      <div th:replace="commons/footer :: footer" class="container" />
</body>
</html>